langchain/
Datasets/
torch_offline/
try_cuda.py
#参考
Tokenizer_ref.py
trainer/pretrain_ref.py
Eval_llm_ref.py
trainer/trainer_utils_ref.py
model/model_minimind_ref.py
#测试
web/
Tokenizer.ipynb
process_and_thread.ipynb
data.json
data_process.ipynb
#参数
out/
out_4090/
checkpoints/
trainer/__pycache__/
model/__pycache__/
Linux/
dataset/lm_dataset_ref.py
dataset/__pycache__/
langchain_graph/
My_secret_datasets/
test_sft.py