langchain_env/
Datasets/
#参考
Tokenizer_ref.py
pretrain_ref.py
Eval_llm_ref.py
trainer/trainer_utils_ref.py
model/model_minimind_ref.py
#测试
Tokenizer.ipynb
process_and_thread.ipynb
data.json
data_process.ipynb
#参数
out/
trainer/__pycache__/
model/__pycache__/
Linux/
dataset/